body {
    
    font-size: 12pt;
    
    color: #333;
    
    font-family: arial, monospace;
    
    margin: 0;
    
    padding: 0;

    /* Disables selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    
}

#menu {

    text-align: center;

    float: left;

    margin: 1em;
    padding: 1em;

    border: 1px dotted #cc33cc;

    position: absolute;

}

#nav { 
    
    text-align: center;

    width: 55em;

    margin: auto;

    background-color: #eeeeee;

}

#mnemo { border: 1px dotted #cc33cc; }


.row { 
    
    text-align: center; 

    margin: 1em;

}
.cell { 
    
    float: left;

}
.cell:not(:first-child){

    margin-left: 1em;

}


.score.total { 

    float: left;

    color: #422b8f; 
    
    font-weight: bold;

}

.score.current { 

    float: right;

    color: #0d7070;  
    
    font-weight: bold;

}


.button {

    border: 1px solid #666666;

    background-color: gainsboro;
    color: darkslategray;

    margin: 1em;
    padding: 1em;

}


.clear { clear: both; }